/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
*
{
    margin: 0;
    padding: 0;
}

html
{
    font-size: 1em;
    line-height: 1.4;

    min-width: 600px;

    color: #222;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection
{
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr
{
    display: block;

    height: 1px;
    margin: 1em 0;
    padding: 0;

    border: 0;
    border-top: 1px solid #ccc;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video
{
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset
{
    margin: 0;
    padding: 0;

    border: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea
{
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade
{
    margin: .2em 0;
    padding: .2em 0;

    color: #000;
    background: #ccc;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*===header开始===*/
body
{
    font-family: 'Microsoft YaHei', '宋体', sans-serif;

    padding-top: 7rem;
}

.navbar
{
    background-color: #fff;
}

nav
{
    height: 5rem;
    padding-top: 1rem;
}

nav .navbar-brand
{
    margin-top: -1.5rem;
}

nav .slogan
{
    margin-right: 1rem;
}

nav .slogan h3
{
    margin-top: -.5rem;
}

nav .area
{
    margin-right: 2rem;
    padding: 1rem;
    padding-top: 1.5rem;
}

nav .area span
{
    padding: .4rem;

    border: 1px solid #f93;
    border-radius: .3rem;
}

nav .active
{
    border-bottom: 6px solid #1b2b5a;
    background-color: #fff;
}

nav .borderRight
{
    border-right: 1px solid #f93;
}

.navbar-nav
{
    background-color: #fff;
}
nav li a:hover
{
    font-size: 1.5rem;

    color: #1b2b5a ;
}
/*   header结束   */
/*===main开始===*/
/*===slide开始===*/
section.slide .banner
{
    position: relative;

    overflow: auto;
}

section.slide .banner li
{
    list-style: none;
}

section.slide .banner ul li
{
    float: left;
}

.right_banner_text
{
    padding-right: 6rem;
}

#banner_text
{
    float: right;

    margin-bottom: 6rem;
}

.btn,
.rightfloat
{
    float: right;

    margin-bottom: 1rem;
}

.btn
{
    font-size: 1.5rem;

    width: 200px;
}

.rightfloat
{
    padding: 1rem;

    border: 1px solid #ccc;
    border-radius: .5rem;
}

/*   slide结束   */
/*===detail开始===*/

.detail
{
    padding: 6rem;

    background-image: url('../img/road.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.detail .container
{
    padding: 4rem;

    border: 1px solid #ccc;
    border-radius: .5rem;
    background: rgba(0, 0, 0, .2);
}

.detail #sign
{
    min-height: 560px;
    padding-top: 3rem;

    border: 1px solid #fff;
    border-radius: .5rem;
    background-color: #fff;
}

.detail #sign h2
{
    width: 10rem;
    margin-bottom: 4rem;
    padding: 1rem;

    color: #1b2b5a;
    border: 1px solid #ccc;
}

.detail #sign form
{
    margin-bottom: 4rem;
}

.detail #comment
{
    overflow: hidden;

    height: 560px;

    color: #ccc;
}

.detail #comment li
{
    height: 140px;

    list-style: none;
}

.detail #comment h4
{
    color: #fff;
}

.detail #comment div.row
{
    margin-bottom: 1rem;
    padding-bottom: 1rem;

    border-bottom: 1px dashed #ccc;
}

/*   detail结束   */
/*   main结束   */
/*===footer开始===*/
footer
{
    min-height: 15rem;
    padding: 3rem;

    background-color: #182130;
}
footer .contactway
{
    color: #ccc;
}

footer #downlink
{
    padding-top: 3rem;
}

footer .btn
{
    width: 150px;
    height: 40px;

    text-indent: -9999px;

    border-radius: .5rem;
    background-color: #f1f1f1;
}

footer .btniphone
{
    background-image: url(../img/footerIphone.png);
    background-repeat: no-repeat;
    background-position: center;
}

footer .btnandroid
{
    background-image: url(../img/footerAndroid.png);
    background-repeat: no-repeat;
    background-position: center;
}
footer .copyright
{
    color: #ccc;
}
/*   footer结束   */
@media screen and (max-width: 600px)
{
    #banner_text
    {
        float: right;

        margin-bottom: 0;
    }

    .detail .container
    {
        padding: 2rem;
    }

    .detail
    {
        padding: 2rem;
    }

    .btn
    {
        font-size: .5rem;

        width: 100px;
        height: 30px;
        margin-bottom: .5rem;
    }

    #codeimg
    {
        width: 100px;
        height: 100px;
    }

    .detail img
    {
        width: 60px;
        height: 60px;
        margin-top: 1rem;
    }

    #comment
    {
        margin: 0;
        padding: 0;
    }

    .detail #sign form
    {
        margin-bottom: 2rem;
    }

    .detail #sign h2
    {
        margin-bottom: 1rem;
    }

    #submitbtn
    {
        width: 100%;
    }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden
{
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden
{
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus
{
    position: static;

    overflow: visible;
    clip: auto;

    width: auto;
    height: auto;
    margin: 0;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible
{
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after
{
    display: table; /* 2 */

    content: ' '; /* 1 */
}

.clearfix:after
{
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em)
{
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(min-resolution: 1.25dppx),
(min-resolution: 120dpi)
{
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print
{
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line
    {
        color: #000 !important;
        background: transparent !important;
        /* Black prints faster:
                                      http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited
    {
        text-decoration: underline;
    }

    a[href]:after
    {
        content: ' (' attr(href) ')';
    }

    abbr[title]:after
    {
        content: ' (' attr(title) ')';
    }

    /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
    a[href^='#']:after,
    a[href^='javascript:']:after
    {
        content: '';
    }

    pre,
    blockquote
    {
        border: 1px solid #999;

        page-break-inside: avoid;
    }

    /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
    thead
    {
        display: table-header-group;
    }

    tr,
    img
    {
        page-break-inside: avoid;
    }

    img
    {
        max-width: 100% !important;
    }

    p,
    h2,
    h3
    {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3
    {
        page-break-after: avoid;
    }
}
